*.nvim

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.github

# Playwright
test-results/*
playwright-report/*
blob-report/*
playwright/.cache/*


# generated code
# src/client/*
.env.*

## Backend ##

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.jpg

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.tmp
tmp

# executable
http-server

# misc
copilot/
volume

.idea

docs/
bin/

venv/
__pycache__/

firebaseConfig.json
app.env
*.env

firebase-sign-in/

*.gen.go

scripts/

dump*
dump/
